{% extends "globus-portal-framework/v2/search-base.html" %}
{% load is_active index_template is_active %}
{% load static %}

{% block breadcrumb_items %}
{{block.super}}
<li class="breadcrumb-item {% is_active request 'search-about' index=globus_portal_framework.index %}">
  <a class="h5">{{project_info.title}} About</a>
</li>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <h1 class="text-center mt-3 mb-5">Welcome to the {{globus_portal_framework.project_title}}</h1>
  </div>
</div>


<div class="row mb-5">
  <div class="col"></div>
  <div class="col-10">

    <div>
      {% block landing_page_about %}
      <h2>What is the ITM Data Commons?</h2>
      <div class="mb-5">
        <img class="rounded float-right" src="{% static 'custom/images/ITMDC_Connected.jpg' %}" alt="ITM Data Commons"
          width="225px" />
        The ITM Data Commons is a collection of datasets that are complementary to the biological and clinical data
        usually used in biomedical research. These data mostly come from federal, publicly available sources. Examples
        of variables in these datasets include: population size, employment and income, crime/safety, community
        resources (e.g., healthcare facilities, schools, parks, transportation, roads), weather, air quality, housing,
        industry, businesses, and health status and behaviors. The ITM Data Commons makes it easier for scientists to
        access these data and link them with biological and clinical data, allowing scientists to incorporate them into
        their research and explore how these variables may help explain biological and clinical variability in the
        development and progression of disease as well as the response to preventive and therapeutic interventions. In
        so doing, we hope to foster more rigorous clinical translation that leads to improved health outcomes for all.
      </div>
      <h2>Resources for users</h2>
      <div class="mb-5">
        <ul>
          <li class="mb-3">
            <b>Become a user</b> To access the ITM Data Commons, researchers must complete the onboarding and review
            process, as described below:
            <ol>
              <li>Potential ITM Data Commons users meet with the Program Director for an introduction to the ITMDC,
                discussion about acceptable use, and to assess the fit of their research question(s).</li>
              <li>After completing the interest form, potential users may complete the following steps:
                <ul>
                  <li>Sign <a href="https://redcap.uchicago.edu/surveys/?s=PWTEP4KKMAHTT3PY">data use agreement (DUA) in
                      REDCap</a>.
                    ITM Data Commons leadership will receive an automated email when this form has been signed.</li>
                  <li>Log in to Globus (<a href="https://www.globus.org/">https://www.globus.org/</a>) or create an
                    account and request to join the ITM Data
                    Commons group.</li>
                </ul>
              </li>
              <li>Once all of these steps have been completed, the ITM Data Commons team reviews the application and
                routes
                to relevant subject matter experts for further review if necessary. If approved, the Program Director
                sends a confirmation email with instructions on how to access the data. All approved users will also be
                added to monthly Community Meetings.</li>
            </ol>
          </li>
          <li class="mb-3"><b>Provide feedback</b> To provide feedback on the ITM Data Commons platform, usability, or datasets,
            please use <a href="https://forms.gle/YY2rEhAeqdhL3Q2o9">this form.</a></li>
          <li class="mb-3">
            <strong>
              Get help
              <ol>
                <li>To get specific help with Globus, use the Globus help desk here: <a
                    href="https://support.globus.org/hc/en-us/requests/new?_gl=1*dz1gv9*_ga*MTIwNjA3OTY5NS4xNzQ1MjY2NTEx*_ga_7ZB89HGG0P*czE3NDczNDI3MDAkbzE0JGcxJHQxNzQ3MzQyNzIyJGowJGwwJGgw">Globus
                    help</a></li>
                <li>For general ITM Data Commons help, contact Program Director Kat Bouzein at <a
                    href="mailto:kblumhardt@uchicago.edu">kblumhardt@uchicago.edu</a>.
                </li>
              </ol>
            </strong>
          </li>
        </ul>
      </div>
      <h2>ITM Data Commons team</h2>
      <div class="mb-5">
        <table class="table table-striped">
          <tr>
            <td>Sam Volchenboum</td>
            <td>ITM Informatics Director</td>
          </tr>
          <tr>
            <td>Suzi Birz</td>
            <td>ITM Informatics Co-Director</td>
          </tr>
          <tr>
            <td>Kat Bouzein</td>
            <td>ITM Program Director</td>
          </tr>
          <tr>
            <td>Kritika Prakesh</td>
            <td>ITM Data Commons Analyst</td>
          </tr>
          <tr>
            <td>Julie Johnson</td>
            <td>UChicago Institutional Informatics Lead</td>
          </tr>
          <tr>
            <td>Ron Price</td>
            <td>Loyola Institutional Informatics Lead</td>
          </tr>
          <tr>
            <td>Carlos Santos</td>
            <td>Rush Institutional Informatics Lead</td>
          </tr>
          <tr>
            <td>Tony Solomonides</td>
            <td>Endeavor Institutional Informatics Lead</td>
          </tr>
        </table>
      </div>
      <div class="mx-auto" style="width: 520px;">
        <img src="{% static 'custom/images/ITM_Footer.png' %}" alt="ITM Data Commons" />
      </div>
      <div class="mt-5">
        This project is supported by the National Center for Advancing Translational Sciences (NCATS) of the National
        Institutes of Health (NIH) through Grant Numbers UL1TR002389, KL2TR002387, and TL1TR00238 that fund the
        Institute for Translational Medicine (ITM).</div>
      {% endblock %}
    </div>
    <!-- <div>
      <h1>Data Access</h1>
      {% block landing_page_data_access %}
      <p class="lead font-weight-bolder">Search results are limited to members of the
        {{globus_portal_framework.project_title}} Group.</p>
      <a class="btn btn-primary" target="_blank"
        href="https://app.globus.org/groups/{{globus_portal_framework.index_data.group}}/about">
        Request Access to {{globus_portal_framework.project_title}} Group
      </a>
      {% endblock %}
    </div> -->
  </div>
  <div class="col"></div>
</div>

{% endblock %}